:root {
  --primary-color: #4a90e2;
  --secondary-color: #f5f5f5;
  --card-bg: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --btn-bg: #4a90e2;
  --btn-hover: #357ab8;
  --text-color: #333;
  --accent-color: #ff6b6b;
}

.nav-tabs {
  border-bottom: none; /* Remove bottom border */
}

.events-container {
  /* background-color: var(--secondary-color); */
  min-height: 50vh;
}

.nav-tabs .nav-link {
  color: white;
  background-color: var(--btn-bg);
  margin: 0 5px;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s;
}

.nav-tabs .nav-link.active {
  background-color: var(--accent-color);
}

.nav-tabs .nav-link:hover {
  background-color: var(--btn-hover);
}
