
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-custom {
  background-color: var(--primary-color);
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .btn {
  color: #fff !important;
}
